In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
review=pd.read_parquet("../data/reviews.parquet")
review.head(3)

,posted,item_id,recommend,review,user_id
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479

In [3]:
# Función de Análisis de Sentimiento: Determinando Polaridad en Texto

def analisis_sentimiento(review):
    analisis = TextBlob(str(review))
    # Asigna un valor según el análisis de sentimiento
    if analisis.sentiment.polarity > 0.1: 
        return 2  # Positivo
    elif analisis.sentiment.polarity < -0.1:
        return 0  # Malo
    else:
        return 1  # Neutral

In [4]:
# Aplicar la función a la columna 'reviews' y crear la nueva columna 'sentiment_analysis'
review['sentiment_analysis'] = review['review'].apply(analisis_sentimiento)

In [5]:
review.head()

,posted,item_id,recommend,review,user_id,sentiment_analysis
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479,2
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479,2
2,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,1
3,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637,2
4,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637,1

In [6]:
review['sentiment_analysis'].value_counts()

sentiment_analysis
2    25888
1    24573
0     7970
Name: count, dtype: int64

In [7]:
review.drop(['review'], axis=1, inplace=True)

In [8]:
review.head()

,posted,item_id,recommend,user_id,sentiment_analysis
0,"Posted November 5, 2011.",1250,True,76561197970982479,2
1,"Posted July 15, 2011.",22200,True,76561197970982479,2
2,"Posted April 21, 2011.",43110,True,76561197970982479,1
3,"Posted June 24, 2014.",251610,True,js41637,2
4,"Posted September 8, 2013.",227300,True,js41637,1

In [9]:
review.to_csv("../data/review2.csv", index=False)